# Frontend Environment Variables
# Development - uses proxy in vite.config.js
# Production - set this to your backend Railway URL

#VITE_API_URL=http://localhost:4000
VITE_API_URL=https://backend-team-view-production.up.railway.app/api

